@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Fira+Sans:wght@500&family=Inter:wght@500&family=Merriweather:ital@1&family=Roboto:ital,wght@0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto+Condensed&family=Rubik&display=swap');



.dobblock-glav{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.dobblock-h1{
    text-align: left;
    display: flex;
    gap: 20px;
    position: relative;
    top: 30px;
}
.dobblock-mini-kotta{
    width: 1200px;
    height: auto;
}
.dobblock-h1 img{
    width: 55px;
height: 22px;
position: relative;
top: 6px;
cursor: pointer;
}
.dobblock-h1 h1{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 30px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
}


.kotasdsad-img-dob1 img{
    width: 600px;
    height: 100% !important;
}
.kotasdsad-text-dob1{
    z-index: 1000;
    position: relative;
}
.dobblock-img-pas-text{
    padding-top: 40px;
}
.dobblock-img-pas-text h2{
    font-family: Montserrat Alternates;
font-size: 40px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
}

.block1-img-pas1{
    width: 664px;
height: auto;
margin-bottom: 30px;
}
.block-img-general1{
    position: relative;
    top: -80px;
    right: 1px;
    display: block;
}
.block-img-general{
    display: block !important;

}
#bbb1{
position: relative;
left: 80px;
}
#bbb0{
    position: relative;
    right: 140px;
}


@media (max-width:1240px) {
    .dobblock-kotta-tape-qismi-img {
        width: 1000px !important;
        height: 369px;
        border-radius: 41px;
        background: #FFCB13;
        margin-top: 60px;
    }
    .dobblock-text-img-tepa-qismi h1 {
        font-size: 60px !important;
    }
    .dobblock-text-img-tepa-qismi p {
        font-size: 22px !important;
    }

    .dobblock-mini-kotta{
        width: 1000px;
        height: auto;
    }
    .dobblock-img-pas-text h2 {
        font-family: Montserrat Alternates;
        font-size: 35px;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }
    .doblock-qaytatan-yozib-chvq-bloc1 {
        width: 480px !important;
        height: 355px;
    }
    .doblock-qaytatan-yozib-chvq-bloc3 {
        width: 480px !important;
        height: 423px;
    }
    .doblock-qaytatan-yozib-chvq-bloc2 {
        width: 480px !important;
        height: 386px !important;
        border-radius: 41px;
        border: 7px solid #FFFFFF;
    }
    .dodcdcd-text p {
        font-family: 'Alef', sans-serif;
        font-size: 14px;
    }
    .dodcdcd-text h3 {
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #E93333;
        margin-bottom: 15px;
    }
    
    
}
@media (max-width:1060px) {
    .dobblock-mini-kotta{
        width: 800px;
        height: auto;
    }
    .dobblock-img-pas-text h2 {
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-weight: 600;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }
    .dobblock-kotta-tape-qismi-img {
        width: 800px !important;
        height: 309px !important;
        border-radius: 41px;
        background: #FFCB13;
        margin-top: 60px;
    }
    .blockasjkdfbhsdvdsjhvsdfhk {
        width: 400px !important;
        height: 485px;
        border-radius: 50%;
        background: #FFFFFF;
        position: relative;
        top: 100px;
        right: 250px;
    }
    .blockasjkdfbhsdvdsjhvsdfhk img{
        width: 300px;
        top: 40px !important;
    }
    .dobblock-text-img-tepa-qismi p {
        font-size: 18px !important;
        line-height: 26px !important;
    }
    
.suka-ramsadasdasdasas{
    width: 350px;
}
.dobblock-text-img-tepa-qismi h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 45px !important;
    line-height: 60px !important;
}
}
@media (max-width:872px) {
    .dobblock-kotta-tape-qismi-img {
        width: 100% !important;
        height: 309px !important;
        border-radius: 41px;
        background: #FFCB13;
        margin-top: 80px !important;
    }
    .dobblock-mini-kotta{
        width: 90%;
        height: auto;
    }
    .dobblock-h1{
        position: relative;
        top: 50px;
    }
    .dobblock-h1 h1{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    }
    .dobblock-h1 img{
        width: 55px;
    height: 22px;
    position: relative;
    top: 3px;
    cursor: pointer;
    }
    .dobblock-img-pas-text h2 {
        font-family: Montserrat Alternates;
        font-size: 4vw;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }
}
@media (max-width:650px) {
    .dobblock-h1 img {
        width: 45px;
        height: 22px;
        position: relative;
        top: 0px;
        cursor: pointer;
    }
    .dobblock-h1 h1{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    }
}
@media (max-width:513px) {
    .dobblock-h1 img {
        width: 30px;
        height: 15px;
        position: relative;
        top: 0px;
        cursor: pointer;
    }
    .dobblock-h1 h1{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    }
    .dobblock-h1{
        text-align: left;
        display: flex;
        gap: 10px;
        position: relative;
    }
}
.dobblock-glav-media{
    display: none;
}
@media (max-width:610px) {
    .pasda-qanqadir-img-dobblock img{
        height: 20px;
        position: relative;
        top: 8px;
    }
    .img-bu-swiper-joy-sw img{
        width: 136px;
        height: 126px;
    }
    .oxiri-qolid-ichi-width{
        width: 90%;
        margin: auto;
        text-align: left;
        padding-top: 20px;
    }
    .tetx-ozi-boru-img-vashekaneee h3{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
font-size: 23px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #E93333;
margin-bottom: 25px;
    }
    .tetx-ozi-boru-img-vashekaneee p{
        font-family: Gilroy;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #000;
    }
.dobblock-glav{
    display: none;
}
.dobblock-glav-media{
    display: block;
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
}
.doblock-media-center{
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 40px;
}
.doblock-media-center h3{
    font-family: Gilroy;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #CDCDCD;
}
.doblock-media-center span{
    color: #E93333;
    font-weight: 600;
}
.pasda-qanqadir-img-dobblock{
    display: flex;
    text-align: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    gap: 20px;
}
.pasda-qanqadir-img-dobblock span{
    font-family: Montserrat Alternates;
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.pas-rasm-joy-media-dobblock{
    width: 100%;
    height: 400px;
    background: url(../img/Group\ 303.png);
background-repeat: no-repeat;
background-size: 100% 100%;
margin-top: 40px;
}
.pas-raasm-koroc-ichi{
    width: 100%;
    height: auto; 
    display: block;
    text-align: center;
    padding-top: 35px;
}
.pas-raasm-koroc-ichi h4{
    font-family: Gilroy;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;

color: black;
margin-bottom: 10px;
}
.pas-raasm-koroc-ichi h2{
    font-family: Montserrat Alternates;
font-size: 30px;
font-weight: 600;
line-height: 41px;
letter-spacing: 0em;
margin-bottom: 20px;
}
.pas-raasm-koroc-ichi p{
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    
}
.doblock-pas-oziy-sozla-joy{
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 50px;
}
.doblock-pas-oziy-sozla-joy h3{
    font-family: Montserrat Alternates;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.mySwiper7{
    width:  100% !important; 
    height: 370px !important;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 50px;
}
.ozbekiskin-kon-naxuy{
    width: 100%;
    height:auto;
}
.ozb-ichi{
    text-align: left;
    width: 90%;
    margin: auto;
padding-top: 60px;
}
.ozb-ichi h3{
    font-family: Montserrat Alternates;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #E93333;
margin-bottom: 40px;
}
.ozb-ichi p{
    font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}
.alert-uchun-aloxida-joy1{
    display: flex;
    text-align: left;
    padding-top: 20px;
padding-left: 40px;
margin-bottom: 20px;
}
.bu-swiper-joy-media-dobblock{
    width: 90%;
    margin: auto;
    text-align: left;
    padding-top: 50px;
}
.bu-swiper-joy-mmm-sds{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.img-bu-swiper-joy-sw{
    position: relative;
    top: -65px;
    left: 20px;
}
.text-bu-swiper-joy-sw h3{
    font-family: Montserrat Alternates;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #E93333;
}
.pas-qismi-text-swiper-slice p{
    font-family: 'Alef', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #6D6D6D;
position: relative;
top: -60px;
}
.pas-qismi-text-swiper-slice1 p{
    font-family: 'Alef', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #6D6D6D;
position: relative;
top: -30px;
}
.img-bu-swiper-joy-sw1 img{
    position: relative;
    top: -40px;
}
}

body{
    overflow-x: hidden!important;
}
.db-zaib1{
    display: block;
}
.db-zaib2{
    display: block;
}
.dobblcok-img-pasda-kop{
   padding-top: 100px;
   margin-bottom: 100px;
   display: block;
}
.db-zaib{
    display: flex;
    justify-content: space-around;
}
.db-zaib1 img{
    margin-bottom: 20px;
}
.db-zaib2 img{
    margin-bottom: 20px;
}
#bla{
    position: relative;
    right: 110px;
}
#bla0{
    position: relative;
    left: 80px;
}
#bla4{
    position: relative;
    left: 30px;
}
.db-zaib2{
    position: relative;
    top: -60px;
}
@media (max-width:1380px) {
    .db-zaib1 img{
        width: 500px;
    }
    .db-zaib2 img{
        width: 500px;
    }
    .db-zaib2{
        position: relative;
        top: -0px;
    }
}
@media (max-width:1241px) {
    .db-zaib1 {
        display: block;
        position: relative;
        right: 50px;
    }
}
.rasmla-media-bobde{
    display: none;
}
@media (max-width:1096px) {
    .db-zaib{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        
        text-align: center;
    }
}
@media (max-width:435px) {
    .pas-raasm-koroc-ichi h4 {
        font-family: Gilroy;
        font-size: 17px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        color: black;
        margin-bottom: 10px;
    }
}
.doblock-qaytatan-yozib-chvq-bloc1{
    width: 587px;
height: 355px;
border-radius: 41px;
background: #FFFFFF;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 40px;
}
.doblock-qaytatan-yozib-chvq-bloc2{
    width: 587px;
height: 377px;
border-radius: 41px;
border: 7px solid #FFFFFF;

}
.dodcdcd-igm{
    position: relative;
    top: -50px;
    width: 120px;
    right: 80px;
}
.dodcdcd-igm1{
    position: relative;
    top: -20px;
    width: 120px;
    right: 170px;
}
.dodcdcd-igm2{
    position: relative;
    width: 120px;
    right: 80px;
    top: -40px;
}


.dodcdcd-text{
    width: 60%;
}
.dodcdcd-text h3{
    font-family: Montserrat Alternates;
font-size: 25px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #E93333;
margin-bottom: 15px;
}
.dodcdcd-text p{
    font-family: 'Alef', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #6D6D6D;
}
.tepa-sozla-img-boruas{
    display: flex;
    width: 100%;
gap: 20px;
}
.doblock-text-jou-keca-nmaa h3{
    font-family: Montserrat Alternates;
font-size:17px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #E93333;
margin-bottom: 15px;
}
.kottqorasdasdas{
    width: 85%;
    padding-top: 50px;
    margin: auto;
}
.pasqismi-text-doblock-block2 p{
    font-family: 'Alef', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #000;
}
.eng-kottatorta-div{
    display: flex;
    gap:30px;
}
.doblock-qaytatan-yozib-chvq-bloc3{
    width: 613px;
height: 423px;
border-radius: 41px;
background: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
}
#pasggaaaaasas{
    margin-top: 100px;
}
@media (max-width:1310px) {
    .doblock-qaytatan-yozib-chvq-bloc1 {
        width: 550px;
        height: 355px;
    }
    
    .doblock-qaytatan-yozib-chvq-bloc2 {
        width: 550px;
        height: 377px;
        border-radius: 41px;
        border: 7px solid #FFFFFF;
    }
    
    .doblock-qaytatan-yozib-chvq-bloc3 {
        width: 550px;
        height: 423px;
    }
    
    .pasqismi-text-doblock-block2 p {
        font-family: 'Alef', sans-serif;
        font-size: 15px;
    }
    .dodcdcd-text p {
        font-family: 'Alef', sans-serif;
        font-size: 15px;
    }
}
@media (max-width:1262px) {
    .dodcdcd-igm {
        position: relative;
        top: -50px;
        width: 10px;
        right: 80px;
    }
    .dodcdcd-igm img{
        width: 240px;
        height: 400px;
    }
    .dodcdcd-igm1 img{
width: 380px;
        height: 380px;
    }
    .dodcdcd-igm1 {
        position: relative;
        top: -20px;
        width: 60px;
        right: 170px;
    }
    .dodcdcd-igm2 img{
        width: 160px;
    }
    .dodcdcd-igm2 {
        position: relative;
        width: 110px;
        right: 65px;
        top: -65px;
    }
    
    
}
@media (max-width:1070px) {
    .eng-kottatorta-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .doblock-qaytatan-yozib-chvq-bloc1 {
        width: 100% !important;
        height: 355px;
    }
    .doblock-qaytatan-yozib-chvq-bloc3 {
        width: 100% !important;
        height: 320px;
    }
    .doblock-qaytatan-yozib-chvq-bloc2 {
        width: 100% !important;
        height: 310px !important;
        border-radius: 41px;
        border: 7px solid #FFFFFF;
    }
    .tepa-sozla-img-boruas {
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    .dodcdcd-igm img {
        width: 300px;
        height: 400px;
    }
    
    .pasqismi-text-doblock-block2 p {
        font-family: 'Alef', sans-serif;
        font-size: 16px;
    }
    .doblock-text-jou-keca-nmaa h3 {
        font-family: Montserrat Alternates;
        font-size: 18px;
    }    
    .dodcdcd-igm2 {
        position: relative;
        width: 119px;
        right: 65px;
        top: 0px;
    }
    
    .dobblcok-img-pasda-kop {
        padding-top: 20px;
        margin-bottom: 0;
        display: block;
    }       
}
@media (max-width:774px) {
    .doblock-qaytatan-yozib-chvq-bloc2 {
        width: 100% !important;
        height: 366px !important;
        border-radius: 41px;
        border: 7px solid #FFFFFF;
    }
    
    
}
@media (max-width:630px) {
    .doblock-qaytatan-yozib-chvq-bloc2 {
        width: 100% !important;
        height: 375px !important;
        border-radius: 41px;
        border: 7px solid #FFFFFF;
    }
    .doblock-qaytatan-yozib-chvq-bloc3 {
        width: 100% !important;
        height: 380px;
    }
    .dodcdcd-igm {
        position: relative;
        top: -50px;
        width: 50px;
        right: 80px;
    }
    
}
@media (max-width:480px) {
    .tetx-ozi-boru-img-vashekaneee h3 {
        font-size: 20px;
    }
    .tetx-ozi-boru-img-vashekaneee p {
        font-size: 15px;
    }
    .text-bu-swiper-joy-sw h3 {
        font-size: 17px;
    }
}
@media (max-width:436px) {
    .tetx-ozi-boru-img-vashekaneee h3 {
        font-size: 18px;
    }
    .tetx-ozi-boru-img-vashekaneee p {
        font-size: 14px;
    }
    .text-bu-swiper-joy-sw h3 {
        font-size: 14px;
    }
    .pas-qismi-text-swiper-slice p {
        font-size: 13px;
    }
}
@media (max-width:416px) {
    .oxiri-qoldi-davayyyy {
        width: 360px;
        height: 437px;
        border-radius: 20px;
        border: 7px solid #FFFFFF;
        text-align: center;
    }
}
@media (max-width:393px) {
    .oxiri-qoldi-davayyyy {
        width: 360px;
        height: 477px !important;
        border-radius: 20px;
        border: 7px solid #FFFFFF;
        text-align: center;
    }
}
@media (max-width:330px) {
    .oxiri-qoldi-davayyyy {
        width: 360px;
        height: 487px !important;
        border-radius: 20px;
        border: 7px solid #FFFFFF;
        text-align: center;
    }
}
@media (max-width:400px) {
    .img-bu-swiper-joy-sw{
        display: none;
    }
    .bu-swiper-joy-mmm-sds {
        display: flex;
        width: 100%;
        justify-content: left;
        height: 110px;
    }
    .img-bu-swiper-joy-sw1{
        display: none;
    }
    .pas-qismi-text-swiper-slice1 p {
        position: relative;
        top: -70px;
    }
    .mySwiper7{
        width:  100% !important; 
        height: 390px !important;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-bottom: 50px;
    }
}
@media (max-width:368px) {
    .mySwiper7{
        width:  100% !important; 
        height: 410px !important;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-bottom: 50px;
    }
}
@media (max-width:340px) {
    .mySwiper7{
        width:  100% !important; 
        height: 420px !important;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-bottom: 50px;
    }
}
@media (max-width:520px) {
    .pas-qismi-text-swiper-slice1 p {
        font-size: 12px;
    }
}
@media (max-width:445px) {
    .pas-qismi-text-swiper-slice1 p {
        font-size: 10px;
    }
}
@media (max-width:500px) {
    .pasda-qanqadir-img-dobblock span {
        font-family: Montserrat Alternates;
        font-size: 20px;
    }
}
.dobblock-kotta-tape-qismi-img{
    width: 1200px;
    height: 369px;
    border-radius: 41px;
    background: #FFCB13;
    margin-top: 60px;
    overflow: hidden;
}
.bla-zaibal-div-ochuvurib{
    display: flex;

}
.dobblock-text-img-tepa-qismi p{
    font-family: 'Alef', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.dobblock-text-img-tepa-qismi h1{
    font-family: 'Rubik', sans-serif;
font-size: 70px;
font-weight: 600;
line-height: 96px;
letter-spacing: 0em;
text-align: left;
}
.dobblock-text-img-tepa-qismi span{
    font-family: 'Rubik', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.blockasjkdfbhsdvdsjhvsdfhk{
    width: 485px;
    height: 485px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    top: 100px;
    right: 250px;
}
.blockasjkdfbhsdvdsjhvsdfhk img{
    position: relative;
    left: 250px;
}
.dobblock-text-img-tepa-qismi{
    padding-top: 80px;
}
@media (max-width:807px) {
    .dobblock-text-img-tepa-qismi p {
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .dobblock-text-img-tepa-qismi h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 36px !important;
        line-height: 60px !important;
    }
    .dobblock-text-img-tepa-qismi span {
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .blockasjkdfbhsdvdsjhvsdfhk img {
        position: relative;
        left: 220px;
    }
    .suka-ramsadasdasdasas {
        width: 300px !important;
    }
}
@media (max-width:680px) {
    .dobblock-text-img-tepa-qismi p {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .dobblock-text-img-tepa-qismi h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 30px !important;
        line-height: 60px !important;
    }
    .dobblock-text-img-tepa-qismi span {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
    .suka-ramsadasdasdasas {
        width: 280px !important;
    }
}