@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Fira+Sans:wght@500&family=Inter:wght@500&family=Merriweather:ital@1&family=Roboto:ital,wght@0,700;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto+Condensed&family=Rubik&display=swap');




.garantiya-page{
    width: 1200px;
    height: auto;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 30px;
}
.garantiya-icon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    gap: 20px;
}
.garantiya-icon span{
    font-family: Montserrat Alternates;
font-size: 35px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}
.garantiya-oqta-page{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 100px;
}
.garantiya-ichi{
    display: block;
    width: 100%;
    height: auto;
}
.oyaoya {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    height: auto;
    font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
background-color: #9DE386;
border-radius: 20px;
}
.garantiya-oldi-text h4{
    font-family: Montserrat Alternates;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 20px;
}
.garantiya-oldi-text p{
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.garantiya-sapn{
    font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
}
.garantiya-oldi-text{
    width: 100%;
    height: auto;
}
@media (max-width:1234px) {
    .garantiya-page {
        width: 1100px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }
    .garantiya-oldi-img img{
        width: 450px;
    }
}
@media (max-width:1182px) {
    .garantiya-page {
        width: 1000px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }
    .garantiya-oldi-img img{
        width: 400px;
    }
}
@media (max-width:1101px) {
    .garantiya-oldi-text h4 {
        font-size: 14px;
    }
    .oyaoya {
        font-size: 14px;
    }    
    .garantiya-oldi-text p {
        font-size: 13px;
    }
    .garantiya-sapn {
        font-size: 13px;
    }
    .yashil-text-garand p {
        font-size: 15px;
    }
    .yashil-text-garand span {
    font-size: 15px;
}
    .garantiya-page {
        width: 83%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }
    .garantiya-icon span {
        font-family: Montserrat Alternates;
        font-size: 25px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
}
@media (max-width:859px) {
    .oyaoya {
        font-size: 13px;
    }
    .garantiya-oldi-text h4 {
        font-size: 13px;
    }
    .garantiya-oldi-text p {
        font-size: 12px;
    }
    .garantiya-sapn {
        font-size: 12px;
    }
    .garantiya-oldi-img img {
        width: 350px;
    }
    .garantiya-oqta-page {
        position: relative;
        right: 69px;
    }
    
    
}
@media (max-width:776px) {
    .garantiya-oldi-img img {
        width: 300px;
    }
    .garantiya-oqta-page {
        position: relative;
        right: 50px;
    }
}
.garant-pas-block-page-card{
    width: 100%;
    height: auto;
    
}
.garant-pas-block-page-card h3{
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}
.garand-block{
    width: 100%;
    height: auto;
    border-radius: 41px;
    background-color: white;
    margin-bottom: 25px;
}
.yashil-garand{
    width: 96px !important;
height: 89px !important;
border-radius: 41px 0px 41px 0px;
background: #9DE386;
color: white;
display: flex;
align-items: center;
justify-content: center;
font-family: Montserrat Alternates;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

}
.bla-zabil-koota-div-qoyish{
display: flex;
gap: 15px;
}
.yashil-text-garand{
    width: 90%;
    height: auto;
    margin-top: 60px;
}
.yashil-text-garand p{
    font-family: Montserrat Alternates;
font-size: 17px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;
}
.yashil-text-garand span{
    font-family: Montserrat Alternates;
font-size: 17px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
}
.sms-yashil-pasda-sms{
    width: 780px;
height: 244px;
background-color: #EAEAEA;
margin-bottom: 30px;
border-radius: 41px;
}
.sms-kotta-yashil-xa-df{
    display: flex;
    justify-content: center;
}
.sms-triugolnik{
    width: 0;
    height: 0;
    border-bottom: 30px solid #EAEAEA;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: relative;
    top: -20px;
    left: 150px;
}
#korqaq-botton{
    margin-bottom: 60px;
}
.garant-ax-oxiri{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gardn-img img{
    width: 222px;
height: 222px;
}
.gardn-text {
    width: 80% ;
    height: auto;
}
.gardn-text p{
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.gardn-text span{
    font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
}
@media (max-width:883px) {
    .garantiya-oldi-text p {
        font-size: 13px;
        margin-bottom: 20px;
    }
}
.garantiya-media-d1{
    display: none;
}
@media (max-width:790px) {
    .garantiya-ichi{
        display: none;
    }
    .garantiya-media-d1{
        display: block;
        width: 100%;
        height: auto;
    }
    .garantiya-media-d2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
    }
    .garantiya-page {
        width: 82%;
    }
    .garantiay-blockmediad-d3{
        display: block;
        width: 100%;
        height: auto;
    }
    .garantiay-blockmediad-d3 h4{
        font-family: Gilroy;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #CDCDCD;
    }
    .garantiay-blockmediad-d3 span{
        color: #E93333;
    }
    .garantiay-media-img-sapn{
        margin-top: 25px;
        gap: 20px;
        display: flex;
    }
    .garantiay-media-img-sapn span{
        font-family: 'DM Sans', sans-serif;
        font-family: 'Fira Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
color: #000000;
    }
    .garantiay-media-img-sapn img{
        width: 37.5px;
height: 15px;
position: relative;
top: 15px;
    }
    .garantiya-text-pas-d5{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .garant-teet span{
        padding-left: 5px;
        padding-right: 5px;
        padding: 5px;
        width: 100%;
        height: auto;
        background: #9DE386;
border-radius: 20px;
color: black;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

    }
    .garant-teet p{
        font-family: Montserrat Alternates;
font-size: 17px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
    }
    .garant-img img{
        width: 450px;
    }
    .garant-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .garant-tex1{
        width: 100%;
        height: auto;
    }
    .garant-tex1 p{
font-family: Montserrat Alternates;
font-size: 17px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
    }
    .garant-tex1 span{
        font-family: Montserrat Alternates;
font-size: 17px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: black;
    }
    .garantiya-h4-bla h4{
        font-family: Montserrat Alternates;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: black;
margin-bottom: 50px;
    }
    .garant-tex1{
        margin-bottom: 50px;
    }
    .garantiya-block-cardla-9{
        display: block;
    }
    .mamnaqa-yashil-krug{
        width: 45px;
height: 45px;
border-radius: 8px;
background-color: #9DE386;
display: flex;
align-items: center;
justify-content: center;
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: white;
position: relative;
top: -20px;
left: 20px;
    }
    .garantiya-block-card-d10{
        width: 100%;
        height: auto;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 30px;
        display: flex;
    }
    .bla-nom-oylab-topomadim-axax{
        width: 85%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 45px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds span{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
font-size: 17px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: black;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds p{
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-family: 'Rubik', sans-serif;
font-size: 17px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
    }
    .garantiya-block-infarmatsiya-yban{
        width: 100%;
        height: 290px;
        background-color: #EAEAEA;
        border-radius: 22px;
        margin-bottom: 50px !important;
        margin-top: 70px;
       
    }
    .torburche{
        width: 0;
        height: 0;
        border-bottom: 35px solid #EAEAEA;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        position: relative;
        top: -22px;
        right: 100px;
    }
    .sdfgsddfsaweewqqwe{
        display: flex;
        justify-content: end;
    }
    .psadkasdaksdaskd{
        width: 90%;
        height: auto;
        margin: auto;
        text-align: center;
    }
    .psadkasdaksdaskd p{
font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
    }
    .psadkasdaksdaskd span{
        font-family: Montserrat Alternates;
font-size: 16px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: black;
    }
    .psadkasdaksdaskd img{
        width: 250px;
    }
}
@media (max-width:674px) {
    .garant-tex1 p {
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
    .garantiya-page {
        width: 78%;
    }
    .garant-tex1 span {
        font-size: 16px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds p {
        font-size: 16px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds span {
        font-size: 16px;
    }
    .psadkasdaksdaskd span {
        font-size: 15px;
    }
    .psadkasdaksdaskd p {
        font-size: 15px;
    }
}
@media (max-width:545px) {
    .garant-tex1 p {
        font-size: 15px;
    }
    .garant-tex1 span {
        font-size: 15px;
    }
    .garant-teet p {
        font-size: 15px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds p {
        font-size: 15px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds span {
        font-size: 15px;
    }
    .garantiay-blockmediad-d3 h4 {
        font-size: 18px;
    }
}
@media (max-width:480px) {
    .garantiya-block-infarmatsiya-yban {
        width: 100%;
        height: 350px;
        background-color: #EAEAEA;
        border-radius: 22px;
        margin-bottom: 50px !important;
        margin-top: 70px;
    }
    .bla-nom-oylab-topomadim-axax {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 45px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds p {
        font-size: 14px;
    }
    .bla-dfgsddfsdfsdfsdfsdfsdfsdfds span {
        font-size: 14px;
    }
    .garant-tex1 p {
        font-size: 14px;
    }
    .garant-tex1 span {
        font-size: 14px;
    }
}
@media (max-width:635px) {
    .garantiay-blockmediad-d3 h4 {
        font-size: 16px;
    }
}
@media (max-width:403px) {
    .garantiya-block-infarmatsiya-yban {
        width: 100%;
        height: 390px;
        background-color: #EAEAEA;
        border-radius: 22px;
        margin-bottom: 50px !important;
        margin-top: 70px;
    }
}
@media (max-width:485px) {
    .garant-img img {
        width: 100%;
    }   
}