
/* *{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgba(236, 236, 236, 0.253);
}
.back{
  color: black;
  font-family: Gilroy;
  font-size: 35px;
  width: 50%;
  margin: auto !important;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;

}
.error img{
  width: 90%;
  margin-left: 5%;
  user-select: none;
}
.error{
  overflow: hidden;
  display: block;
}
#hghghghghg{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:484px){
  .back{
    width: 310px;
    font-size: 25px;
  }
}
@media(max-width:384px){
  .back{
    width: 190px;
    font-size: 15px;
  }
}
@media(max-width:770px){
  .back{
    color: black;
    font-family: Gilroy;
    font-size: 4vw;
    max-width: 430px;

    margin: auto !important;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
}
@media(max-width:932px){
  .back{
    font-size: 3vw;
  }
}
@media(max-width:388px){
  .back{
    font-size: 15px;
  }
} */
/* .garant_main{
  width: 80%;
  margin: auto;
}
.garant_gonka{
  user-select: none;
  display: flex;
  margin-top: 50px;
}
.garant_gonka img{
  width: 6%;
  height: 40px;
  margin-top: 20px;
  margin-right: 1%;
}
.garant_peco{
  display: flex;
  flex-wrap: wrap;
}
.garant_pecoimg{
  user-select: none;
}
.garant_pecotext{
  padding-top: 80px;
  width: 55%;
  user-select: none;
} 

.garant_ph2{
  font-size: 30px;
  line-height: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.garant_pecots{
  background-color: rgba(157, 227, 134, 1);
  border-radius: 20px;
padding: 5px;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 10px;

}
.garant_p{
  font-size: 20px;
  line-height: 30px;
}
.garant_znac{
  user-select: none;
  display: block;
}
.garant_znac h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding-bottom: 30px;
}
.garant_znac img{
  width: 80%;
}
.fr{
  width: 13%;
  position: relative;
  left: 200px;
}
.fg{
  width: 50%;
}
.garant_zawita{
  user-select: none;
} */
.pamat_main{
  
  width: 70%;
  margin: auto;
  padding: 30px;

}
.pamat_zaliv{
  padding-left: 100px;
}
.pamat_zaliv2{
  display: flex;
  justify-content: space-around;
  width:  47%;
}
.pamat_zaliv2 img{
  margin-top: 30px;
  height: 20px;

}
.pamat_zaliv2 h1{
  font-size: 33px;

  font-family: 'Montserrat', sans-serif;

}
.pamat_zal1 p{
font-size: 20px;

}
.pamat_zal1{
  
  width: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
}
.main_opt1{
  justify-content: space-around;
  flex-wrap: wrap !important;
  
  padding-bottom: 30px;
  display: flex ;

}.op1_df{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .op_1{
    width: 35%;
  }
  
  .op1_img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #FFCB13;
    border-radius: 30px;
    text-align: center;
    border: 2px solid white;
  }.op1_img img{
  width: 70%;
  padding-top: 7px;
  }
  .op1_text{
    width: 85%;
  }
  .op1_text span{
    font-weight: 1000;}
    .op2_text h5{
    font-weight: 500;
    }
.op2_df{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.op_2{
  width: 35%;
}
.op2_text{
  width: 85%;
}
.op2_img{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #FFCB13 !important;
  border-radius: 30px;
  text-align: center;
  border: 2px solid white;
}.op2_img img{
width: 70%;
padding-top: 7px;
}
.op2_text span{
  font-weight: 1000;}
  .op2_text h5{
  font-weight: 500;
  }


.main_opt2{
                      justify-content: space-around;
                      flex-wrap: wrap !important;
                      
                      padding-bottom: 30px;
                      display: flex !important;
                    
                    }
                    .main_opt3{
                      justify-content: space-around;
                      flex-wrap: wrap !important;
                      
                      padding-bottom: 30px;
                      display: flex !important;
                    
                    }
                    .main_opt4{
                      justify-content: space-around;
                      flex-wrap: wrap !important;
                      
                      padding-bottom: 30px;
                      display: flex !important;
                    
                    }
                    .main_opt5{
                      justify-content: space-around;
                      flex-wrap: wrap !important;
                      
                      padding-bottom: 30px;
                      display: flex !important;
                    
                    } 
                    .op3_df{
                      
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-around;
                      }
                      .op_3{
                        width: 35%;
                      }
                      
                      .op3_img{
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        background-color: #FFCB13;
                        border-radius: 30px;
                        text-align: center;
                        border: 2px solid white;
                      }.op3_img img{
                      width: 70%;
                      padding-top: 7px;
                      }
                      .op3_text{
                        width: 85%;
                      }
                      .op3_text span{
                        font-weight: 1000;}
                    .op4_df{
                          display: flex;
                          flex-wrap: wrap;
                          justify-content: space-around;
                          }
                          .op_4{
                            width: 35%;
                          }
                          
                          .op4_img{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                            background-color: #FFCB13;
                            border-radius: 30px;
                            text-align: center;
                            border: 2px solid white;
                          }.op4_img img{
                          width: 70%;
                          padding-top: 7px;
                          }
                          .op4_text{
                            width: 85%;
                          }
                          .op4_text span{
                            font-weight: 1000;}
                            .op5_df{
                              display: flex;
                              flex-wrap: wrap;
                              justify-content: space-around;
                              }
                              .op_5{
                                width: 35%;
                              }
                              
                              .op5_img{
                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
                                background-color: #FFCB13;
                                border-radius: 30px;
                                text-align: center;
                                border: 2px solid white;
                              }.op5_img img{
                              width: 70%;
                              padding-top: 7px;
                              }
                              .op5_text{
                                width: 85%;
                              }


.op5_text span{
                                font-weight: 1000;}
                                .op6_df{
                                  display: flex;
                                  flex-wrap: wrap;
                                  justify-content: space-around;
                                  }
                                  .op_6{
                                    width: 35%;
                                  }
                                  
                                  .op6_img{
                                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                    background-color: #FFCB13;
                                    border-radius: 30px;
                                    text-align: center;
                                    border: 2px solid white;
                                  }.op6_img img{
                                  width: 70%;
                                  padding-top: 7px;
                                  }
                                  .op6_text{
                                    width: 85%;
                                  }
                                  .op6_text span{
                                    font-weight: 1000;}
                                    .op7_df{
                                      display: flex;
                                      flex-wrap: wrap;
                                      justify-content: space-around;
                                      }
                                      .op_7{
                                        width: 35%;
                                      }
                                      
                                      .op7_img{
                                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                        background-color: #FFCB13;
                                        border-radius: 30px;
                                        text-align: center;
                                        border: 2px solid white;
                                      }.op7_img img{
                                      width: 70%;
                                      padding-top: 7px;
                                      }
                                      .op7_text{
                                        width: 85%;}
                                      .op7_text span{
                                        font-weight: 1000;}
                                        .op8_df{
                                          display: flex;
                                          flex-wrap: wrap;
                                          justify-content: space-around;
                                          }
                                          .op_8{
                                            width: 35%;
                                          }
                                          
                                          .op8_img{
                                            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                            background-color: #FFCB13;
                                            border-radius: 30px;
                                            text-align: center;
                                            border: 2px solid white;
                                          }.op8_img img{
                                          width: 70%;
                                          padding-top: 7px;
                                          }
                                          .op8_text{
                                            width: 85%;
                                          }
                                          .op8_text span{
                                            font-weight: 1000;}
                                            .op9_df{
                                              display: flex;


flex-wrap: wrap;
                                              justify-content: space-around;
                                              }
                                              .op_9{
                                                width: 35%;
                                              }
                                              
                                              .op9_img{
                                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                                background-color: #FFCB13;
                                                border-radius: 30px;
                                                text-align: center;
                                                border: 2px solid white;
                                              }.op9_img img{
                                              width: 70%;
                                              padding-top: 7px;
                                              }
                                              .op9_text{
                                                width: 85%;
                                              }
                                              .op9_text span{
                                                font-weight: 1000;}
                                                .op10_df{
                                                  display: flex;
                                                  flex-wrap: wrap;
                                                  justify-content: space-around;
                                                  }
                                                  .op_10{
                                                    width: 35%;
                                                  }
                                                  .main_opt6{
                                                    padding-left: 100px;
                                                  }
                                                  .op10_img{
                                                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                                    background-color: #FFCB13;
                                                    border-radius: 30px;
                                                    text-align: center;border: 2px solid white;
                                                  }.op10_img img{
                                                  width: 70%;
                                                  padding-top: 7px;
                                                  }
                                                  .op10_text{
               width: 85%;
                                                  }
                                                  .op11_df{
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: space-around;
                                                    }
                                                    .op_11{
                                                      width: 35%;
                                                    }
                                                    
                                                    .op11_img{
                                                      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                                      background-color: #FFCB13;
                                                      border-radius: 30px;
                                                      text-align: center;
                                                      border: 2px solid white;
                                                    }.op11_img img{
                                                    width: 70%;


padding-top: 7px;
                                                    }
                                                    .op1_text h5{
                                                      font-weight: 400;
                                                    }
                                                    .op2_text h5{
                                                      font-weight: 400;
                                                    }  .op3_text h5{
                                                      font-weight: 400;
                                                    }  .op4_text h5{
                                                      font-weight: 400;
                                                    }  .op5_text h5{
                                                      font-weight: 400;
                                                    }  .op6_text h5{
                                                      font-weight: 400;
                                                    }
                                                    .op11_text h5{
                                                      font-weight: 400;
                                                    }  .op10_text h5{
                                                      font-weight: 400;
                                                    }  .op9_text h5{
                                                      font-weight: 400;
                                                    }  .op8_text h5{
                                                      font-weight: 400;
                                                    }  .op7_text h5{
                                                      font-weight: 400;
                                                    }.op11_text{
                 width: 85%;
                      }
                  
              .op10_text span{
       font-weight: 1000;}
                    .pamat_warning{
                      flex-wrap: wrap;
                      margin-top: 50px !important;
                      display: flex;
                      width: 90%;
                      border: 4px solid white;
                      margin: auto;
                      border-radius: 35px;                    }
                  .pamat_warning img{
                    margin: auto;
                    width: 20%;
                  }
                    .warred{
                      color: #E93333;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px;
                    }
                  
                    .warning_p{
                      width: 80%;
                    }
                    .warblack{
                      font-size: 17px;
                      line-height: 20px;
                    }
                    @media(max-width:1300px){
                      .pamat_zaliv2 img{
                        margin-top: 30px;
                      } .pamat_zaliv2 {
                        width: 530px;
                      }
                    }
                    @media(max-width:1050px){
                      .pamat_zaliv2 h1{
                        margin-left: 10px;
                      }
                      .main_opt6{
                        padding-left: 50px  ;
                      }
                      
                      .warblack{
                          font-size: 14px;
                      } 
                                          .warred{
                        font-size: 15px;
                      }
                      .pamat_zaliv2 h1{
                        font-size: 30px;
                        padding-top: 10px;
                      }
                    .pamat_zaliv2{
                      display: flex;
                      width: 470px;
                    }
                    .pamat_zal1{
                      width: 500px;
                    }
                    .pamat_zal1 p{


font-size: 20px;
                    }
                  }
                  @media(max-width:900px){
                    .pamat_zaliv2 img{
                      margin-top: 35px;
                    } 
                  }
@media(max-width:850px){
  .pamat_zaliv2 img{
    margin-top: 35px;
  }
}

@media(max-width:800px){
  .pamat_zaliv2 img{
    margin-top: 35px;
  }
                      .pamat_zaliv{
                        
                        padding-left: 30px;
                      }
                      .pamat_warning img{
                          width: 200px;
                      }
                      .warblack{
                        padding: 5px;
                        font-size: 17px;
                        line-height: none;
                      }
                      .warred{
                        padding: 5px;
                        font-size:20px;
                      }
                      .warning_p{
                        margin: auto;
                        width:400px;
                      }
                    }
                    @media(max-width:600px){
                      .pamat_zaliv2 img{
                        margin-top: 5px;
                        width: 50px !important;
                        height:20px !important; 
                      }
                      .pamat_warning{
                        height: 310px !important;
                        padding: 5px;
                      }
                      .pamat_main{
                        width: 500px;
                        padding: 0;
                        margin: none;
                      }
                      .main_opt5{
                        display: block !important;
                      }
                      .op_9{
                        width: 100%;
                      }
                      .op_1{
                        width: 100%;
                      }
                      .op_2{
                        width: 100%;
                      }
                      .op_3{
                        width: 100%;
                      }
                      .op_4{
                        width: 100%;
                      }
                      .op_5{
                        width: 100%;
                      }
                      .op_6{
                        width: 100%;
                      }
                      .op_7{
                        width: 100%;
                      }
                      .op_8{
                        width: 100%;
                      }
                      .op_10{
                        width: 100%;
                      }
                      .op_11{
 
                          width: 100%;
                      }
                      .main_opt6{
padding-left: 0px;
                      }
                      .pamat_zaliv{
padding-left: 0;
                      }
                      .pamat_zaliv2 h1{
                        font-size: 30px;
                        margin-left: 10px;
                      }
                    .pamat_warning{
                      height: 400px;
                    }
                    .pamat_warning img{
                      position: relative;
                      right: 125px;
                      bottom: 60px;
                      width: 130px;
                    }
                    .warning_p{
                      position: relative;
                      bottom: 100px;
                    }
                    }
                    @media(max-width:494px){
                      .pamat_main{
                        width: 450px !important;
                      }
                    }
                    @media(max-width:450px){
                      .pamat_main{
                        width: 400px !important;
                      }
                      .pamat_zaliv2 h1{
                        padding-top: 0;
                        font-size: 35px;
                        width:400px;
                      }
                      .pamat_zaliv2 img{


height: 30px;
                        width: 70px;
                        padding-top: 40px;
                      }
                      .pamat_zal1 p{
                        line-height: 22px;
                        width: 350px; font-size: 20px;
                      }
                    }
                    @media(max-width:400px){
                      .pamat_zaliv2 {
                        width: 350px;
                      }
                      .pamat_zaliv2 h1{
                        font-size: 25px;
                      }
                      .pamat_zal1 p{
                        font-size: 15px;
                      }
                      .pamat_zaliv2 img{
                        height: 20px;
                        width: 40px;
                        padding-top: 30px;
                      }
                      .pamat_main{
                        width: 350px !important;
                      }
                      .op7_img{
                        width: 45px;
                      }
                   
                    }
                         @media(max-width:350px){
                          .pamat_zaliv2 h1{
                            font-size: 30px;
                          }
                          .pamat_main{
                            width: 320px !important;
                          }
                          .pamat_zaliv2{
                            width: 310px !important;
                            margin-left: 10px;
                          }
                          .pamat_zal1 p{
                            font-size: 19px;
                            width: 305px !important;
                            margin-left: 10px;
                          }
                          .pamat_warning img{
                            position: relative;
                            right: 90px;
                            border-radius: 10px;
                          }
                          .op7_img{
                           width: 45px;    }   
                           .op8_img{
                            width: 45px;    }     
                            .op2_img{
                              width: 45px;    }   
                              .op3_img{
                                width: 45px;    }   
                                .op4_img{
                                  width: 45px;    }
                                  .op1_text{
                                    width: 250px;
                                  }   .op2_text{
                                    width: 250px;
                                  }   .op3_text{
                                    width: 250px;
                                  }   
                                  .op4_text{
                                    width: 250px;
                                  }   .op5_text{
                                    width: 250px;
                                  }   .op6_text{
                                    width: 250px;
                                  }   .op7_text{
                                    width: 250px;
                                  }   
                                  .op8_text{
                                    width: 250px;
                                  }   .op9_text{
                                    width: 250px;
                                  }   .op10_text{
                                    width: 250px;
                                  } 
                                  
                                                                      }
                                                                      .op1_yt{
                                                                        width: 50px;
                                                                        padding-top: 15px;


}
     .op2_yt{
      padding-top: 15px;
        width: 50px;
       }
       .op1_img{
        height: 45px;
       } .op2_img{
        height: 45px;
       } .op4_img{
        height: 45px;
       }
       .op3_yt{
        padding-top: 15px;
          width: 50px;
         }
         .op3_img{
          height: 45px;
         }
          .op4_yt{
          padding-top: 15px;
            width: 50px;
           }
           .op5_yt{
            padding-top: 15px;
              width: 50px;
             }
             .op5_img{
              height: 45px;
             }
             .op6_yt{
              padding-top: 15px;
                width: 50px;
               }
               .op6_img{
                height: 45px;
               }
               .op7_yt{
                padding-top: 15px;
                  width: 50px;
                 }
                 .op7_img{
                  height: 45px;
                 } .op8_yt{
                  padding-top: 15px;
                    width: 50px;
                   }
                   .op8_img{
                    height: 45px;
                   }
                   .op9_yt{
                    padding-top: 15px;
                      width: 50px;
                     }
                     .op9_img{
                      height: 45px;
                     } .op10_yt{
                      padding-top: 15px;
                        width: 50px;
                       }
                       .op10_img{
                        height: 45px;
                       } .op11_yt{
                        padding-top: 15px;
                          width: 50px;
                         }
                         .op11_img{
                          height: 45px;
                         }
                         body{
                          background-color: rgba(128, 128, 128, 0.308);
                         }