.Partners_page{
    max-width: 1200px;
    margin: auto;
    padding: 3vw;
}
.for_orta{
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 80px;
}
.for_orta p{
    font-size: 20px;
    font-weight: 600;
}
.for_orta h3{
    font-size: 24px;
    font-weight: 600;
    color: #E93333;
}
.arrow_pas{
    font-size: 30px;
    color: #E93333;
    margin-top: 20px;
    margin-bottom: 18px;
}
.mini_card h2{
    color: #E93333;
    font-weight: 700;
    font-size: 20px;
}
.mini_card p{
    color: #6D6D6D;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}
.for_orta1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 130px;
}
.for_tor{
    width: 49px;
    height: 49px;
    background-color: #E93333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    font-size: 24px;
    color: white;
}
.orta_card{
    width: 365px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.mini_card{
    width: 290px;
}
.glavaga_ot{
    display: none;
}
@media(max-width:430px){
    .ssd_fa{
        position: relative;
        right: 10px;
    }
    .glavaga_ot{
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    .glavaga_ot2{
        color: #E93333;
    }
    .orta_card {
        width: 340px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .for_tor {
        width: 40px;
        height: 40px;
        background-color: #E93333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        font-size: 24px;
        color: white;
    }
}
@media(max-width:350px){
    .glavaga_ot{
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    .glavaga_ot2{
        color: #E93333;
    }
    .orta_card {
        width: 310px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .for_tor {
        width: 40px;
        height: 40px;
        background-color: #E93333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        font-size: 24px;
        color: white;
    }
    .ssd_fa{
        position: relative;
        right: 20px;
    }
}
@media(max-width:325px){
    body{
        overflow-x: hidden;
    }
    .glavaga_ot{
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    .glavaga_ot2{
        color: #E93333;
    }
    .orta_card {
        width: 300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .for_tor {
        width: 40px;
        height: 40px;
        background-color: #E93333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        font-size: 24px;
        color: white;
    }
    .ssd_fa{
        position: relative;
        right: 40px;
    }
}
@media(max-width:325px){
    body{
        overflow-x: hidden;
    }
    .glavaga_ot{
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    .glavaga_ot2{
        color: #E93333;
    }
    .orta_card {
        width: 290px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    .for_tor {
        width: 40px;
        height: 40px;
        background-color: #E93333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        font-size: 24px;
        color: white;
    }
    .ssd_fa{
        position: relative;
        right: 40px;
    }
}